
.Container-ItemProduct {
    width: 500px;
    display: flex;
    max-width: 300px;
    overflow: hidden;
    padding: 20px 30px 25px 30px;
    box-shadow: 0px 5px 10px rgba(45, 55, 68, 0.2);
    /*
    *** Glass effect CSS
    */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18) transparent;
    border-radius: 32px;
    line-height: 1.5;
}

.Specs-ItemProduct {
    width: 100%;
    padding: 10px;
}